@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
   --primary: hsl(172, 67%, 45%); /* Strong Cyan */
   --dark1: hsl(183, 100%, 15%); /* Very dark cyan */
   --dark2: hsl(186, 14%, 43%); /* Dark grayish cyan */
   --dark3: hsl(184, 14%, 56%); /* Dark grayish cyan */
   --light1: hsl(185, 41%, 84%); /* Light grayish cyan */
   --light2: hsl(189, 41%, 97%); /* Light grayish cyan */
   --light3: hsl(0, 0%, 100%); /* White */
}
body {
   background: var(--light1);
   font-family: 'Space Mono', monospace;
   margin: 3rem auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 3rem;
}
.logo {
   width: 5.44rem;
}

/* Typography */

h2 {
   font-size: 1rem;
   margin: 0;
   color: var(--dark2)
}
h3 {
   font-size: 0.8rem;
   margin: 0;
}
p {
   margin: 0;
}

/* End Typography */

main {
   background: var(--light3);
   border-radius: 1.5rem;
   /* width: max-content; */
   /* margin: 2rem; */
   padding: 2rem 2rem;
   display: flex;
   flex-direction: column;
   gap: 2rem;
}
.options {
   margin: 0 0.5rem;
   display: flex;
   flex-direction: column;
   gap: 2rem;
}
.option {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}
#price {
   background-image: url(./images/icon-dollar.svg);
}
#people {
   background-image: url(./images/icon-person.svg);
}
input[type=text] {
   border: none;
   width: auto;
   text-align: right;
   padding: 0.5rem 1rem;
   background-color: var(--light2);
   background-position: 1rem 50%;
   background-repeat: no-repeat;
   font-family: 'Space Mono', monospace;
   font-size: 1.5rem;
   font-weight: 700;
   color: var(--dark1);
}
.option-radio {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 1rem;
}
.option-radio > input {
   visibility: hidden;
   position: absolute;
}
input[type=radio]+label {
   background-color: var(--dark1);
   color: var(--light2);
   font-size: 1.5rem;
   font-weight: 700;
   user-select: none;
   padding-top: 0.25rem;
   padding-bottom: 0.25rem;
   text-align: center;
   min-width: 8rem;
   width: 26%
}
input[type=radio]:checked+label { /* WOW */
   background-color: var(--primary);
   color: var(--dark1);
}

.results {
   background: var(--dark1);
   border-radius: 1rem;
   padding: 2rem 1rem 1rem;
}