@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
   --primary: hsl(172, 67%, 45%); /* Strong Cyan */
   --dark1: hsl(183, 100%, 15%); /* Very dark cyan */
   --dark2: hsl(186, 14%, 43%); /* Dark grayish cyan */
   --dark3: hsl(184, 14%, 56%); /* Dark grayish cyan */
   --light1: hsl(185, 41%, 84%); /* Light grayish cyan */
   --light2: hsl(189, 41%, 97%); /* Light grayish cyan */
   --light3: hsl(0, 0%, 100%); /* White */
}
body {
   background: var(--light1);
   font-family: 'Space Mono', monospace;
   margin: 3rem auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 3rem;
}
.logo {
   width: 5.44rem;
}

/* Typography */

h2 {
   font-size: 1rem;
   margin: 0;
   color: var(--dark2)
}
h3 {
   font-size: 0.8rem;
   margin: 0;
}
p {
   margin: 0;
}

/* End Typography */

main {
   background: var(--light3);
   border-radius: 1.5rem;
   /* width: max-content; */
   /* margin: 2rem; */
   padding: 2rem 2rem;
   display: flex;
   flex-direction: column;
   gap: 2rem;
}
.options {
   margin: 0 0.5rem;
   display: flex;
   flex-direction: column;
   gap: 2rem;
}
.option {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}
input:focus {
   outline: 3px solid var(--primary);
}
#price {
   background-image: url(./images/icon-dollar.svg);
}
#people {
   background-image: url(./images/icon-person.svg);
}
input[type=text] {
   border: none;
   width: auto;
   text-align: right;
   padding: 0.5rem 1rem;
   background-color: var(--light2);
   background-position: 1rem 50%;
   background-repeat: no-repeat;
   font-family: 'Space Mono', monospace;
   font-size: 1.5rem;
   font-weight: 700;
   color: var(--dark1);
}
.option-radio {
   display: grid;
   grid-template-columns: 9rem 9rem; /*Needs to change with width of screen*/
   gap: 1rem;
}
.option-radio > input { /*Hides actual radio button*/
   visibility: hidden;
   position: absolute;
}
.button-label {
   background-color: var(--dark1);
   color: var(--light2);
   font-size: 1.5rem;
   font-weight: 700;
   user-select: none;
   padding-top: 0.25rem;
   padding-bottom: 0.25rem;
   text-align: center;
   border-radius: 5px;
}
input[type=radio]:checked+label { /* WOW */
   background-color: var(--primary);
   color: var(--dark1);
}
.editable {
   user-select: unset;
   background-color: var(--light2);
   color: var(--dark2);
}
#custom-amount {
   width: 95%;
   /* height: 2.5rem; */
   padding: 0;
   text-align: center;
   border-radius: 3px;
}
#custom-amount:focus {
   outline: none;
}
.results {
   background: var(--dark1);
   border-radius: 1rem;
   padding: 2rem 1.5rem 1.5rem;
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}
.result {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.results h2 {
   color: var(--light2);
}
.results h3 {
   color: var(--dark3)
}
.results p {
   font-size: 2rem;
   font-weight: 700;
   color: var(--primary);
}
.calc-display::before {
   content: "$";
}
.reset {
   border: none;
   background-color: var(--dark2);
   font-family: 'Space Mono', monospace;
   font-weight: 700;
   font-size: 1.25rem;
   color: var(--dark1);
   text-transform: uppercase;
   padding: 0.5rem;
   /* margin: 0.5rem; */
   border-radius: 5px;
   transition: 100ms ease-in-out;
}
.reset:hover {
   background-color: var(--primary);
}

@media screen and (min-width: 53rem) {
   main {
      flex-direction: row;
   }
	.option-radio {
		grid-template-columns: repeat(3, 7rem);
	}
	.results p {
		font-size: 2.5rem;
	}
	.reset {
		width: 20rem;
		margin-top: auto;
	}
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: var(--dark1);
}