@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
   --primary: hsl(172, 67%, 45%); /* Strong Cyan */
   --dark1: hsl(183, 100%, 15%); /* Very dark cyan */
   --dark2: hsl(186, 14%, 43%); /* Dark grayish cyan */
   --dark3: hsl(184, 14%, 56%); /* Dark grayish cyan */
   --light1: hsl(185, 41%, 84%); /* Light grayish cyan */
   --light2: hsl(189, 41%, 97%); /* Light grayish cyan */
   --light3: hsl(0, 0%, 100%); /* White */
}
body {
   background: var(--light1);
   font-family: 'Space Mono', monospace;
   margin: 3rem auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 3rem;
}
.logo {
   width: 5.44rem;
}

/* Typography */

h2 {
   font-size: 1rem;
   margin: 0;
   color: var(--dark2)
}
h3 {
   font-size: 0.8rem;
   margin: 0;
}
p {
   margin: 0;
}

/* End Typography */

main {
   background: var(--light2);
   border-radius: 1.5rem;
   /* width: max-content; */
   /* margin: 2rem; */
   padding: 2rem 2rem;
   display: flex;
   flex-direction: column;
   gap: 2rem;
}


.results {
   background: var(--dark1);
   border-radius: 1rem;
   padding: 2rem 1rem 1rem;
}